# pkgbox example configuration
################################################################################

# installation directory
PKGBOX_OPTS[prefix]="$HOME/local"

# variables for Configure scripts
PKGBOX_OPTS[CFLAGS]="-march=native -O2 -pipe"
PKGBOX_OPTS[CXXFLAGS]=${PKGBOX_OPTS[CFLAGS]}
PKGBOX_OPTS[CPPFLAGS]="-I${PKGBOX_OPTS[prefix]}/include"
PKGBOX_OPTS[LDFLAGS]="-L${PKGBOX_OPTS[prefix]}/lib"
PKGBOX_OPTS[EXTRA_LDFLAGS_PROGRAM]=""
PKGBOX_OPTS[LIBS]=""
PKGBOX_OPTS[CC]=gcc
PKGBOX_OPTS[CXX]=${PKGBOX_OPTS[CC]}

# options for Make
PKGBOX_OPTS[make_opts]="-j3"

