# pkgbox example configuration
################################################################################

# pkgbox directories
#O[base]="$HOME/.pkgbox"
#O[packages]="$PKGBOX_PATH/pkg"
#O[download]="${O[base]}/download"
#O[build]="${O[base]}/build"


# installation directory
#O[prefix]="/usr/local"


# variables for Configure scripts
#O[CFLAGS]="-march=native -O2 -pipe"
#O[CXXFLAGS]="${O[CFLAGS]}"
#O[CPPFLAGS]="-I${O[prefix]}/include"
#O[LDFLAGS]="-L${O[prefix]}/lib"
#O[EXTRA_LDFLAGS_PROGRAM]=
#O[LIBS]=
#O[CC]=
#O[CXX]=${O[CC]}


# options for Make
#O[make_opts]="-j3"


# feature defaults
FEATURES=(
	"nls"						# Native language support
	"unicode"					# Unicode support
	"ipv6"						# IPv6 support
#	"ssl"						# SSL support
	"devrandom=/dev/urandom"	# Set random device, e.g. /dev/urandom
	
#	"-doc"						# Extra documentation
#	"-static"					# Statical linking
#	"-static-libs"				# Build static libraries
#	"-rpath"					# FIXME: runpath
#	"-debug"					# Build with debug code paths
#	"-examples"					# Install examples
	
# Build/config tools
#	"apr="
#	"apr-util="
#	"apxs="

# Should NOT be defined globally:
# - layout

#	"package:my_path=/tmp/foobar"	# Custom variable
)

